image: ubuntu:18.04

stages:
  - test

test:
  stage: test
  script:
    - apt-get update -qy
    - apt-get install -y python3-pip python3
    - pip3 install -r requirement.txt
    - python3 src/test.py
