image: node:10

stages:
  - build
  - test

cache:
  paths:
    - node_modules/

install_dependencies:
  stage: build
  script:
    - npm install
  artifacts:
    paths:
      - node_modules/

testing:
  stage: test
  script:
     -npm test
     -node server.js
     -curl localhost:80/?x=4&y=2
